:root {
  --primary-color: #9c339c;
  --secondary-color: #1b206e;
}
*{/* To make it in a box*/
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
body{
  background-color:  #fff;
  color:black;
  font-family:"Sawarabi Gothic",sans-serif ;
}
/*nav bar styling begins*/
header a{
  text-decoration: none;
}
header{
padding:0 20px;
background-color: #fff;
height:10vh;
width:100vw;
display: flex;
border :1px solid rgb(15, 15, 15);
}
.toggle {
  position: relative;
  top: 0;
  left:-2vw;
  width: 60px;
  height: 10vh;
  background: var(--primary-color) url(images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
  
}
.toggle.active {
  background: var(--primary-color) url(images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}
.navigation {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  left: 0;

}
.navigation ul li {
  margin-top:20px;
  list-style: none;
  text-align: center;
}

.navigation ul li a {
  font-size: 2.2rem;
  color: #111;
  text-decoration: none;
  font-weight: 300;
}

.navigation ul li a:hover {
  color: var(--primary-color);
  transform: scale(0.5);
  transition: 0.2s;
}
.navigation ul li:hover {
  color: var(--primary-color);
  transform: scale(1.5);
  transition: 0.2s;
}
.navigation .social-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation .social-bar a {
  display: inline-block;
  transform: scale(0.5);
}

.navigation .email-icon {
  position: absolute;
  bottom: 20px;
  }
#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  z-index: 20;
  margin-right: 20vw;
}
#brand a{
  color:rgb(164, 11, 235);
}
#img{
  z-index:20;
}
#img img{
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 13px;
  height: 10vh;
  width: 100px;
  margin-right: 20vw;
}
#img img:hover{
  transform: scale(1.5);
  transition: 0.2s;
}
nav ul{
list-style: none;
height:100%;
display : flex;
align-items: center;
justify-content: space-around;
}
nav ul a{
  color:black;
}

nav ul li{
margin-top: 20px;
height:7vh;
margin-left: 30px;
background-color: transparent;
border-radius: 5px;
padding:5px 8px;
}
nav ul li:hover {
  transform: scale(1.3);
  transition: 0.2s;
  border-bottom: 5px solid rgb(223, 72, 236);

}
/*nav bar styling ends*/

/*body styling*/
main{
  background-color: #fffeff;
  z-index: 0;
}
.Qualification_box{
  height:30vh;
  width:100%;
  z-index: 20;
}
.Qualification_box center{
  font-size: 30px;
}
.e_box{
  height:15vh;
  width:60%;
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: rgb(215, 174, 231);
  border-radius: 10px;
}
.e_box:hover{
  box-shadow: 10px 10px rgb(233, 215, 241);
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

.box_right{
  height:10vh;
  width:20px;
  border-right: 3px solid black;
}
.content{
  margin-left: 20px;
  font-size: 20px;
}
.content ul li{
  margin-left: 50px;
}
.languages{
  font-size: 30px;
  height:40vh;
  width:100%;
  
  z-index: 20;
}
.languages center{
  margin-top: 20px;
}
.text_box{
  display: flex;
  height:20vh;
  width:100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  
}
.text_box img{
  height:20vh;
  width:80px;
  border-radius: 30px;
  margin-left: 30vw;
}
.info{
  width:30vw;
  height:15vh;
  border:1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  margin-left: 10vw;
  background-color: #fff;
}
.info ul li{
  list-style: none;
  margin-left: 40px;
}
.text_box img:hover,.info:hover{
  transform: skew(.312rad);
  transition: 0.2s;
}

/*body styling*/
/*image slider automatic*/
.mySlides {display: none;}
.slideshow-container img {vertical-align: middle;
height:70vh;
width:20vw;
border-radius: 20px;}

/* Slideshow container */
.slideshow-container {
  margin: auto;
  max-width: 1000px;
  position: relative;
  margin-top: 6px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}



/*image slider end*/

/*footer styling starts*/
footer .f_box{
    
    height:10vh;
    width:100%;
    border:1px solid black;
    color:blanchedalmond;
    background-color: #b32be9;
    display:flex;
    align-items: center;
    z-index: 20;
}
.img{
    height:7vh;
    width:100px;
    display: flex;
    margin-left: 30px;    
    }
.img img{
    height:7vh;
    width:60px;
    border-radius: 10px;
}
.name{
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
}
.border{
    width:8px;
    height:7vh;
    border-right:3px solid rgb(230, 222, 222);
}
.text{
    margin-left: 10px;
}
.symbol img{
    height:3vh;
    width:20px;
    margin-left: 30px;
    cursor:pointer;
}

/*Laptops*/
@media screen and (min-width:1000px) {
  .toggle{
    display: none;
  }
  header{
    width:100vw;
  }
}
/*tablets*/
@media screen and (min-width:600px) and (max-width:1000px){
  nav{
    display: none;
  }
  .toggle{
    
    margin-left: -1vw;
  }
  #brand{
    margin-left: 25vw;
    margin-right: 0;
  }
  #img img:hover{
    display:none;
  }
  header{
    width:100vw;
  }
  .content{
    font-size: 15px;
    margin-left: 13px;
}
.e_box span{
    font-size: 19px;
}
.content ul li{
    margin-left: 50px;
}
.info ul li{
    font-size: 15px;
}
progress{
    width: 20vw;
    align-self: center;
}

}
/*mopbile phones*/
@media screen and (max-width:450px){
  nav{
    display: none;
  }
  .toggle{
    position:fixed;
    
  }
  #brand{
    margin-left: 20vw;
    margin-right: 0;
    font-size: 13px;
  }
  #img{
    margin-right: 10vw;
  }
  #img img:hover{
    display:none;
  }
  .navigation ul li a{
    font-size: small;
  }
  header{
    width:100vw;
  }
  .numbertext {font-size: 11px}
  .content{
    font-size: 10px;
    margin-left: 3px;
}
.e_box span{
    font-size: 15px;
}
.content ul li{
    margin-left: 30px;
}
.info ul li{
    font-size: 13px;
}
progress{
    width: 20vw;
}
}
